{
    "root": true,
    "extends": ["react-app", "plugin:prettier/recommended"],
    "rules": {
      "no-var": "warn",
      "no-console": "warn",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ]
    }
  }
  