.navContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: #1B8438;
    justify-content: space-around;
}
.list {
    list-style: none;
    padding: 20px 0;
}
.link {
    text-decoration: none;
    color: white;
    font-size: large;
}
.logo {
    width: 130px;
    height: 63px;
    margin-top: 10px;
    margin-left: 10px;
}
.loginContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}
.container {
    display: flex;
    flex-direction: column;
}
.login {
    margin: 0 30px;
}
a {
    text-decoration: none;
    color: black;
}